*.jl.cov
*.jl.*.cov
*.jl.mem
data
deps/deps.jl
deps/build.log

.ipynb_checkpoints
src/.ipynb_checkpoints
*backkup*.jl
core*

# Inputs/outputs of ex1 job array example
ex1_job_array_in.csv
ex1_out*.csv

# Outputs of second exercise
ex2_out*.csv
ex2_*.png
ex*.log

# apptainer images
*.sif

# Other unnecessary files
julia-*.out
.nfs*
