*.jl.cov
*.jl.*.cov
*.jl.mem
data
deps/deps.jl
deps/build.log

.ipynb_checkpoints
src/.ipynb_checkpoints
*backkup*.jl
core*

# Inputs of job array example
ex1_job_array_in.csv

# Outputs of second exercise
ex2_out*.csv
ex2_*.png
ex*.log

# Other unnecessary files
julia-*.out
.nfs*
